doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h1= synopsis.title 
      h2 Developed By
      p
      ul 
      each val in [{1:'a'}, {1:2}, {1:3}, {1:4}, {1:5}]
        li= synopsis.developedBy
      h2 Starring
      p 
      ul
        li= synopsis.starring
