doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TV Synopsis
  body 
    h1= synopsis.title 
      h2 Developed By
      p
      ul 
      each developedBy in synopsis.developedBy
        li= developedBy
      h2 Starring
      p 
      ul
      each starring in synopsis.starring
        li= starring
      h2 Seasons 
      p 
      ul
        for season in synopsis.seasons 
        li 
          a(href=`/showdata/${synopsis.seasons.number})`='Season'+seasons.number

